{% extends 'main/base.html' %}
{% block title %}
    User Profile
{% endblock %}

{% block content %}
    {% if user.is_customer %}
        <div class="profile-info">
            <h1>{{ user.username }} ({{user_age}} y/o)</h1>
            <div>
                <p>{{ user.email }}</p>
                <p>Customer</p>
            </div>
        </div>
    {% else %}
        <div class="profile-info">
            <h1>{{ user.username }}</h1>
            <div>
                <p>{{ user.email }}</p>
                <p>{{company.field}} Company</p>
            </div>
        </div>
       {% endif %}
    {% if user.is_customer %}
        <h2 class="profile-section-title">Previous Requested Services</h2>
    {% else %}
        <h2 class="profile-section-title">Available Services</h2>
    {% endif %}
    {% if user.is_customer %}
        {% for service in sh %}
            <div class="profile-service-item">
                <a href="/services/{{service.service.id}}">{{service.service.name}}</a> ({{service.service.field}})
                <p>Cost: {{service.price}}</p>
                <p>Requested on: {{ service.request_date }}</p>
                <p class="company-link">
                    by <a href="/company/{{service.service.company.user.username}}">{{service.service.company.user.username}}</a>
                </p> 
            </div>
        {% endfor %}
    {% else %}
        {% for service in services %}
        <div class="profile-service-item">
            <a href="/services/{{service.id}}">{{service.name}}</a>-- {{service.price_hour}}€/hour
        </div>
        {% endfor %}
    {% endif %}
{% endblock %}