{% extends 'main/base.html' %}
{% load static %} 
    {% block title %}
        NetFix
    {% endblock %}

{% block content %}
    <div class="home-section">
        <p class="site_title">NetFix</p>
        <img class="home_logo" src="{% static 'css/logo.png' %}" alt="logo">
    </div>

    <h2 class="profile-section-title">Most Requested Services</h2>
    {% if most_requested %}
        <ul class="services_list">
            {% for service in most_requested %}
                <li class="service_list_info">
                    <a href="/services/{{ service.id }}">{{ service.name }}</a> 
                    <p style="font-size: 0.9em; color: #666;">({{ service.num_requests }} requests)</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No services have been requested yet.</p>
    {% endif %}
{% endblock %}
