{% extends 'main/base.html' %}
{% block title %}
    {{field}} Services List
{% endblock %}
{% block content %}

    {% if services|length != 0 %}
        <h2 class="title">{{field}} Services</h2>
        <ul class='services_list'>
            {% for service in services %}
                <div class="service_list_info">
                    <li><a href="/services/{{service.id}}">{{ service.name }}</a>-- {{ service.price_hour }}€/hour</li>
                    <p>{{ service.description }}</p>
                    <p style="font-size: 0.9em; color: #666;">by <a href="/company/{{service.company.user.username}}">{{service.company.user.username}}</a></p>
                </div>
            {% endfor %}
        </ul>
    {% else %}
        <p>No {{field}} services available yet.</p>
    {% endif %}
{% endblock %}